PORT=5003
DATABASE_URL=postgresql://postgres:YourNewStrongPassword@localhost:5432/jewelry_store
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
SHIPROCKET_EMAIL=vivek.jagdus@gmail.com
SHIPROCKET_PASSWORD=WzXQcwSFpjhn$Hfn%BA&k!IfPGaSIvg0
SHIPROCKET_PICKUP_LOCATION=Primary
SHIPROCKET_PICKUP_PINCODE=380060

SHIPROCKET_RETURN_ADDRESS=Sanidhya bunglows, Ahmedabad, Gujarat
SHIPROCKET_RETURN_CITY=Ahmedabad
SHIPROCKET_RETURN_STATE=Gujarat
SHIPROCKET_PHONE=9898801316

# Razorpay — from https://dashboard.razorpay.com/app/keys
RAZORPAY_KEY_ID=rzp_live_SMKf2BAlMFCB3s
RAZORPAY_KEY_SECRET=GRcjd6F3P0kiB4T067Nxz2Rs
SHIPROCKET_WEBHOOK_TOKEN=lumiere_secret_2024
GOOGLE_CLIENT_ID=112191265220-st4s53901a3h0immm88280pa23ofo007.apps.googleusercontent.com
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_S3_BUCKET=test-bucket-jewwl-123456789
AWS_REGION=eu-north-1

API_URL=http://localhost:5003/api \
ADMIN_EMAIL=admin@lumiere.com \
ADMIN_PASS=Admin@1234 \
node test.js